/* color palette from <https://github.com/vuejs/theme> */
:root {

  --vt-c-green-1: #068E65;
  --vt-c-green-2: #1bb889;
  --vt-c-yellow-1: #F9BB41;
  --vt-c-light-yellow-1: #FEEED0;
  --vt-c-red-1: #CA2446;

  --vt-c-light-blue-1: #C5CEFB;
  --vt-c-light-blue-2: #A8B6FF;
  --vt-c-blue-1: #4A63F1;
  --vt-c-dark-blue-1: #2D3B88;

  --vt-c-dark-1: #222429;
  --vt-c-light-gray-1: #E9E9E9;
  --vt-c-gray-1: #B7B7B7;
  --vt-c-dark-gray-1: #6E6E6E;

  --vt-c-divider-light-1: var(--vt-c-gray-1);
  --vt-c-divider-dark-1: var(--vt-c-dark-1);

  --vt-c-text-light-1: var(--vt-c-indigo);
  --vt-c-text-light-2: rgba(60, 60, 60, 0.66);
  --vt-c-text-dark-1: var(--vt-c-white);
  --vt-c-text-dark-2: rgba(235, 235, 235, 0.64);
  
}

/* semantic color variables for this project */
:root {
  --color-background: var(--vt-c-white);
  --color-background-soft: var(--vt-c-white-soft);
  --color-background-mute: var(--vt-c-white-mute);

  --color-border: var(--vt-c-divider-light-2);
  --color-border-hover: var(--vt-c-divider-light-1);

  --color-heading: var(--vt-c-text-light-1);
  --color-text: var(--vt-c-text-light-1);

  --section-gap: 160px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-background: var(--vt-c-black);
    --color-background-soft: var(--vt-c-black-soft);
    --color-background-mute: var(--vt-c-black-mute);

    --color-border: var(--vt-c-divider-dark-2);
    --color-border-hover: var(--vt-c-divider-dark-1);

    --color-heading: var(--vt-c-text-dark-1);
    --color-text: var(--vt-c-text-dark-2);
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

body {
  min-height: 100vh;
  color: var(--color-text);
  background: var(--color-background);
  transition:
    color 0.5s,
    background-color 0.5s;
  line-height: 1.6;
}
